.edit_post {
    text-align: center;
}

.edit_post p {
    color: #AAA;
    margin-bottom: 2em;
}

.edit_post .preview_title {
    margin-bottom: .2em;
    color: #000;
    font-weight: bold;
}

.image_preview {
    max-width: 50%;
    margin-bottom: 1em;
}